<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>My Photos in Instagram</title>
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="./cvi_busy_lib.js"></script>
<style type='text/css'>
</style>
<script>
$(function(){
  getPhotos();

  $('#frm').submit( function( event ){
    event.preventDefault();
    var username = $('#username').val();
    getPhotos( username );

    return false;
  });
});

function getPhotos( username ){
  //. Canvas のリセット方法？

  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'取得中', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  var url = './photos';
  if( username ){ url += '?username=' + username; }
  $.ajax({
    url: url,
    type: 'GET',
    success: function( result ){
      obj.remove();
      //console.log( result );
      result = JSON.parse( result );
      if( result.status && result.items ){
        var items = result.items;
        for( var i = 0; i < items.length; i ++ ){
          var item = items[i];
          var id = item.id;
          var username = item.username;
          var user_picture = item.user_picture;
          var image_url = item.image_url;
          var created = item.created;
          var text = item.text;
          var link = item.link;

          var div = '<div>'
            + '<a target="_blank" title="' + text + '" href="' + link + '"><img src="' + image_url + '"/></a>'
            + '</div>';
          $('#myclass').append( div );
        }

        $('.myclass').slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          initialSlide: 0,
          arrows: true,
          dots: true
        });
      }
    },
    error: function(){
      obj.remove();
      console.log( "error" );
    }
  });
}
</script>
<style>
</style>
</head>
<body>
<div class="myclass" id="myclass">
</div>
<!--
<div>
  <form id="frm">
    <input type="text" id="username" value=""/>
  </form>
</div>
-->
</body>
</html>
